<h1>Edit Activity</h1>
<%= form_with(model: @activity, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="mb-3">
    <%= form.label :activity_name_id %>
    <%= form.collection_select :activity_name_id, ActivityName.all, :id, :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :duration %>
    <div class="row">
      <div class="col">
        <%= form.select :duration_hours, (0..24).to_a, {}, { class: 'form-control' } %>
      </div>
      <div class="col">
        <%= form.select :duration_minutes, (0..59).to_a, {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <%= form.submit 'Update', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', activity_path(@activity), class: 'btn btn-secondary' %>
<% end %>
