<h1>Activities</h1>
<%= form_with url: activities_path, method: :get do |form| %>
  <%= form.label :activity_name_id, "Activity Name:" %>
  <%= form.collection_select :activity_name_id, ActivityName.all, :id, :name, { include_blank: "All" }, { class: "form-control" } %>
  <%= form.label :start_date, "Start Date:" %>
  <%= form.date_field :start_date, class: "form-control" %>
  <%= form.label :end_date, "End Date:" %>
  <%= form.date_field :end_date, class: "form-control" %>
  <%= form.label :min_duration, "Minimum Duration:" %>
  <%= form.number_field :min_duration, class: "form-control" %>
  <%= form.label :max_duration, "Maximum Duration:" %>
  <%= form.number_field :max_duration, class: "form-control" %>
  <%= form.submit "Filter", class: "btn btn-primary" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Date<%#= link_to "Date", { sort: "date", direction: params[:direction] == "asc" ? "desc" : "asc" }, { class: "btn btn-link" } %></th>
      <th>Activity<%#= link_to "Activity Name", { sort: "activity_names.name", direction: params[:direction] == "asc" ? "desc" : "asc" }, { class: "btn btn-link" } %></th>
      <th>Duration<%#= link_to "Duration", { sort: "duration", direction: params[:direction] == "asc" ? "desc" : "asc" }, { class: "btn btn-link" } %></th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.activity_name.name %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.comment %></td>
        <td><%= link_to 'Show', activity_path(activity), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-secondary btn-sm' %></td>
        <td><%= button_to 'Delete', activity_path(activity),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm',
                      remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>
</p>
<%= paginate @activities  %>
