<h1>Activities</h1>
<%= form_with url: activities_path, method: :get do |form| %>
  <div class="d-flex align-items-center">
    <div class="flex-fill ms-0 me-2"><%= form.label :activity_name_id, "Activity:" %>
      <%= form.collection_select :activity_name_id, ActivityName.all, :id, :name, { include_blank: "All" }, { class: "form-control form-control-sm me-2" } %>
    </div>
    <div class="flex-fill me-2">
      <%= form.label :start_date, "Start Date:" %>
      <%= form.date_field :start_date, class: "form-control form-control-sm me-2" %>
    </div>
    <div class="flex-fill me-2">
      <%= form.label :end_date, "End Date:" %>
      <%= form.date_field :end_date, class: "form-control form-control-sm me-2" %>
    </div>
    <div class="flex-fill me-2">
      <%= form.label :min_duration, "Min duration (minutes):", class: "me-2" %>
      <%= form.number_field :min_duration, class: "form-control form-control-sm me-2" %>
    </div>
    <div class="flex-fill me-2">
      <%= form.label :max_duration, "Max duration (minutes):" %>
      <%= form.number_field :max_duration, class: "form-control form-control-sm me-2" %>
    </div>
    <div class="flex-fill mt-2">
      <%= form.submit "Filter", class: "btn btn-primary ms-2" %>
    </div>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Duration</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.activity_name.name %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.comment %></td>
        <td><%= link_to 'Show', activity_path(activity), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-secondary btn-sm' %></td>
        <td><%= button_to 'Delete', activity_path(activity),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm',
                      remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>
</p>
<%= paginate @activities  %>
