<div class="bg-image bg-image-three"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="bgt shadow mt-2 border p-3">
        <%= form_with url: activities_path, method: :get do |form| %>
          <div class="d-flex align-items-center justify-content-end">
            <div class="flex-grow-1 me-2"><%= form.label :activity_name_id, "Activity:" %>
              <%= form.collection_select :activity_name_id, ActivityName.all, :id, :name, { include_blank: "All" }, { class: "form-control form-control-sm me-2", value: params[:activity_name_id] } %>
            </div>
            <div class="flex-grow-1 me-2">
              <%= form.label :start_date, "Start Date:" %>
              <%= form.date_field :start_date, class: "form-control form-control-sm me-2", value: params[:start_date] %>
            </div>
            <div class="flex-grow-1 me-2">
              <%= form.label :end_date, "End Date:" %>
              <%= form.date_field :end_date, class: "form-control form-control-sm me-2", value: params[:end_date] %>
            </div>
            <div class="flex-grow-1 me-2">
              <%= form.label :min_duration, "Min duration (minutes):", class: "me-2" %>
              <%= form.number_field :min_duration, class: "form-control form-control-sm me-2", value: params[:min_duration] %>
            </div>
            <div class="flex-grow-1 me-2">
              <%= form.label :max_duration, "Max duration (minutes):" %>
              <%= form.number_field :max_duration, class: "form-control form-control-sm me-2", value: params[:max_duration] %>
            </div>
            <div>
              <%= form.submit "Filter", class: "btn btn-primary ms-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="bgt shadow mt-5 border p-5">
        <h1>Activities</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Duration</th>
              <th>Comment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each do |activity| %>
              <tr>
                <td><%= activity.date %></td>
                <td><%= activity.activity_name.name %></td>
                <td><%= format_duration(activity.duration) %></td>
                <td><%= activity.comment %></td>
                <td>
                  <%= link_to '', activity_path(activity), class: 'btn btn-primary btn-sm bi bi-eye' %>
                  <%= link_to '', edit_activity_path(activity), class: 'btn btn-secondary btn-sm bi bi-pencil' %>
                </td>
                <td>
                  <%= button_to ' Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm bi bi-trash', remote: true %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p>
          <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>
        </p>
        <%= paginate @activities  %>
      </div>
    </div>
  </div>
</div>
