<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="bg-light shadow mt-5 border p-5">
        <h2 class="mb-3">Add new Activity</h2>
        <%= form_with(model: @activity, local: true) do |form| %>
          <%= render "shared/error_messages", object: form.object %>
          <div class="mb-3">
            <%= form.label :choose_activity, "Choose activity:" %>
            <%= form.collection_select :activity_name_id, ActivityName.all, :id, :name, class: "form-control" %>
          </div>
          <div class="row mb-3">
            <div class="col-md-2">
              <%= form.label :date, "Date:" %>
              <%= form.date_field :date, class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= form.label :duration, "Duration:" %>
              <div class="input-group">
                <%= form.select :duration_hours, (0..24).to_a, {}, { class: "form-control" } %>
                <div class="input-group-append">
                  <span class="input-group-text me-2">h</span>
                </div>
                <%= form.select :duration_minutes, (0..59).to_a, {}, { class: "form-control" } %>
                <div class="input-group-append">
                  <span class="input-group-text">min</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 col-md-4">
            <%= form.label :comment, "Comment:" %>
            <%= form.text_area :comment, class: "form-control" %>
          </div>
          <%= form.submit "Add", class: "btn btn-primary" %>
          <%= link_to "Cancel", activities_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
